<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
		<title>Quizz App | <%= title %></title>
	</head>
	<body>

		<!-- >==============================<Create Question>==============================< -->
		<div class="createQuestion">

			<div class="h-screen flex flex-col  bg-indigo-100 flex justify-center items-center">
			<!-- <main class="flex-col bg-indigo-50 w-full ml-4 pr-6"> -->

				<div class=" p-4 bg-white mb-8 rounded-xl shadow-lg place-content-end">
					<a href="/auth/logout" style="color: #59238f">logout</a>
				</div>
				<!-- </main> -->
				<div class="lg:w-2/5 md:w-1/2 w-2/3">
					<form
						action="/question/update/<%= data.id %>"
						method="post"
						class="bg-white p-10 rounded-lg shadow-lg min-w-full"
					>
						<h1
							class="
								text-center text-2xl
								mb-6
								text-gray-600
								font-bold font-sans
							"
						>
							Edit Question
						</h1>
						<div>
							<label
								class="text-gray-800 font-semibold block my-3 text-md"
								for="description"
								>The question</label
							>
							<input
								class="
									w-full
									bg-gray-100
									px-4
									py-2
									rounded-lg
									focus:outline-none
								"
								type="text"
								name="description"
								id="description"
							/>
						</div>
						<div>
							<label
								class="text-gray-800 font-semibold block my-3 text-md"
								for="answer1"
								>Answer 1</label
							>
							<input
								class="
									w-full
									bg-gray-100
									px-4
									py-2
									rounded-lg
									focus:outline-none
								"
								type="text"
								name="answer1"
								id="answer1"
							/>
						</div>
						<div>
							<label
								class="text-gray-800 font-semibold block my-3 text-md"
								for="type"
								>Type</label
							>
							<input
								class="
									w-full
									bg-gray-100
									px-4
									py-2
									rounded-lg
									focus:outline-none
								"
								type="text"
								name="type"
								id="type"
							/>
						</div>
						<div>
							<label
								class="text-gray-800 font-semibold block my-3 text-md"
								for="correctAnswer"
								>Correct Answer</label
							>
							<input
								class="
									w-full
									bg-gray-100
									px-4
									py-2
									rounded-lg
									focus:outline-none
								"
								type="text"
								name="correctAnswer"
								id="correctAnswer"
							/>
						</div>
						<div>
							<label
								class="text-gray-800 font-semibold block my-3 text-md"
								for="score"
								>Points</label
							>
							<input
								class="
									w-full
									bg-gray-100
									px-4
									py-2
									rounded-lg
									focus:outline-none
								"
								type="text"
								name="score"
								id="score"
							/>
						</div>

						<button
							type="submit"
							class="
								w-full
								mt-6
								bg-indigo-600
								rounded-lg
								px-4
								py-2
								text-lg text-white
								tracking-wide
								font-semibold font-sans
							"
						>
							Edit
						</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
