<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

	<title><%= title %></title>
	<link rel="stylesheet" href="/home.css">

</head>
	<body>
		<div class="h-screen flex flex-col  bg-indigo-100 flex justify-center items-center">

		<h1>Home Page</h1>
		<a href="/login" class="m-4">Login</a>
		<a href="/register" class="m-4">Register</a>
		</div>

	</body>
</html>